:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  place-items: center;
  justify-content: center;
}

.bodyContainer {
  flex-grow: 1;
}

.emptyListContainer {
  display: flex;
  flex-direction: column;
  max-width: 615px;
  width: 100%;
  padding: 7rem 0 7rem 0;
  border: 1.5px solid;
  gap: 14px;
}

@media (max-width: 480px) {
  .emptyListContainer {
    max-width: 300px;
    width: 100%;
    padding: 4rem 1rem;
  }
}

.emptyListMsg {
  color: #87898c;
}
